<h1><%=@question.content%></h1>

<form action="/survey/<%=@question.id%>/edit" method="post">
  <label for="answer">Enter a new answer:</label>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
